<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <i class="fa fa-car fa-lg" style="color: white; margin: 8px"></i>

            @Html.ActionLink("AutoShield", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Categoria", "Index", "Categorias", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Cliente", "Index", "Clientes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Fornecedor", "Index", "Fornecedores", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Requisições", "Index", "Pedidos", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Produto", "Index", "Produtos", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Venda", "Index", "Vendas", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
