@model IEnumerable<ProjetoT3.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Fazer Requisição", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fornecedor.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
